@model satelitesarecool.Models.Location

@{
    ViewData["Title"] = "EarthImage";
}

<h1>EarthImage</h1>

<h4>Location</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EarthImage">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Place" class="control-label"></label>
                <input asp-for="Place" class="form-control" />
                <span asp-validation-for="Place" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
                <span class="text-danger">ex. "2020"</span>
            </div>
            <div class="form-group">
                <label asp-for="Month" class="control-label"></label>
                <input asp-for="Month" class="form-control" />
                <span asp-validation-for="Month" class="text-danger"></span>
                <span class="text-danger">ex. "02"</span>
            </div>
            <div class="form-group">
                <label asp-for="Day" class="control-label"></label>
                <input asp-for="Day" class="form-control" />
                <span asp-validation-for="Day" class="text-danger"></span>
                <span class="text-danger">ex. "02"</span>
            </div>
            <div class="form-group">
                <label asp-for="Dim" class="control-label"></label>
                <input asp-for="Dim" class="form-control" />
                <span asp-validation-for="Dim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Get photo!" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
